{% extends 'layout.html' %}

{% block feed %}
    <link href="{{ url_for('wiki.feed', name=name) }}" rel="feed" type="application/atom+xml" title={{ "Recent changes for page '{}'".format(name) }} >
{% endblock %}

{% block page_menu %}
  <div class="controls pull-right">
    <a class="btn btn-default btn-sm" href="{{ url_for('wiki.edit', name=name) }}">Edit</a>
    <a class="btn btn-default btn-sm" href="{{ url_for('wiki.history', name=name) }}">History</a>
  </div>
{% endblock %}

{% block body %}
  {% if commit %}
    <div id="page-action-bar">
      <form method="POST" action="{{ url_for('wiki.revert') }}" class="ajax-form" data-redirect="{{ url_for('wiki.page', name=name) }}">
        <input type="hidden" value="{{ name }}" name="name" />
        <input type="hidden" value="{{ commit }}" name="commit" />
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/
        <input type="submit" class="btn btn-danger btn-sm" title="Revert back to this revision" value="Revert" />
      </form>
    </div>
  {% endif %}
  {% if page.geojson %}
  <div id="map"></div>
  {% block css %}
<style>
   #map {
     height: 500px;
   }
</style>
  {% endblock %}
  {% endif %}

  <div id="page-content"></div>

{% endblock %}

{% block js %}
  <script>
    $(function(){
      $("#page-content").html(MDR.convert({{ page.data|tojson|safe }}, {{ partials|d([])|tojson|safe }})).show();
    });
    {% if page.geojson %}
    var mymap = L.map('map').setView([51.505, -0.09], 13);
    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox.streets',
        accessToken: 'pk.eyJ1IjoibC12aW5jZW50LWwiLCJhIjoiaDJfM05UMCJ9.l9oR075SSzJY9hXEqaRvoQ'
}).addTo(mymap);
    var geojsonFeature = {{ page.geojson | safe }};
    var geojson = L.geoJSON(geojsonFeature, {
        "onEachFeature": function(feature, layer) {
            layer.on('click', function (e) {
               var page_url = '/' + feature.properties.page_name;
                window.location = page_url;
            })
        },
        pointToLayer: function (feature, latlng) {
            return L.circleMarker(latlng, 
                {radius: 2,
                 color: feature.properties.has_data ? 'green' : 'red'
                });
        }
     });
    geojson.addTo(mymap);
    mymap.fitBounds(geojson.getBounds());
    {% endif %}
  </script>
{% endblock %}
